
# modules
node_modules/

# env
.env

# autoTest file temp stored directory
autoTestFiles/*
!autoTestFiles/.gitkeep

# fake data for test
test/createFakeData

# mac
.DS_Store

# eslint
.eslintrc.json
